html {
    background-color: #000000;
}

.gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    flex-direction: column;
}

.gallery-title img {
    width: 30%;
}

.gallery-title h1 {
    width: 70%;
}

.responsive-img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

h2.subtitle {
    padding-bottom: 15px;
    border-bottom: 4px solid rgba(187, 159, 10, 1);
}

img {
    width: 100%;
}

.row {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column {
   /* flex-grow: 1; */ /* default 1*/
    /*flex-shrink: 1; */ /* default 1*/
    /*flex-basis: 25%; */

    flex: 25%;
    padding: 5px; /* Da espacio entre columnas */
}

.column img {
    margin-top: 5px;
}

@media (max-width: 800px) {

    .column {
        flex: 50%;
    }

}

@media (max-width: 600px) {

    .column {
        flex: 100%;
    }

}